<h2>User info</h2>

<%= form_for(@user) do |f| %>

<h4>Name <%= f.text_field :name %></h4>

<h4>Image</h4>
  <%= f.attachment_field :profile_image %>

<h4>introduction <%= f.text_area :introduction %></h4>

<%= f.submit 'Update User' %>

<% end %>
